.list-container{
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 100%;
  font-size: 1.5rem;
  margin: 0 auto;
  border-radius: 15px;
  background-color: rgba(189, 176, 175, 0.3);
  height: 100%;
}


.list-tbl thead tr{
  background-color: #c21f9f;
}


.list-tbl{
  margin-top: 30px;
  overflow-x:auto;
  max-width: 100%;
}
