.item-container{
  text-align: center;
  padding: 20px 0;
  width: 70%;
  font-size: 1.5rem;
  margin: 0 auto;
  border-radius: 15px;
  background-color: rgba(189, 176, 175, 0.3);
  height: 100%;

}

.item-container li{
  color: red;
}

.item-reg{
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.item-reg input{
  font-size: 1.3rem;
}

.item-reg button {  
  font-size: 1.0rem;
  margin-top: 5px;
  border: 0;
  border-radius: 5px;
  color: white;
  padding: 15px;
  background-color: black;
}

.itens{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btn-container{
  display: flex;
  gap:5px;
}

.mandatory{
  font-family: "walkway_blackregular";
}
#back{
  background-color: rgb(110, 104, 109);
}