@font-face {
  font-family: "walkway_blackregular";
  src: local("Walkway_Black-webfont"),
    url("./fonts/Walkway_Black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "walkway_boldregular";
  src: local("Walkway_Bold-webfont"),
    url("./fonts/Walkway_Bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
::before,
::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:-webkit-any-link{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

ol, ul, li {
  
  list-style: none;
	list-style-type: none;
}

h1{
  font-family: "walkway_blackregular";
}

body{
  font-family: "walkway_boldregular";
  height: 100%;
  background-color: whitesmoke;
}

table{
  border-spacing: 0;
  border-collapse: collapse;
}


th{
  font-family: "walkway_blackregular";
  padding: 20px;
  font-weight: bold;
}

td{
  padding: 5px 20px 5px 20px;
}

th,td{
 border-top: 1px solid black;
 border-bottom: 1px solid black;
}